@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@import "tailwindcss";

@theme {
  /* Extending Colors */
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);
  
  --color-neutral-black: hsl(212, 21%, 14%);
  --color-neutral-grey: hsl(228, 12%, 48%);
  --color-neutral-cream: hsl(30, 38%, 92%);

  /* Extending Fonts */
  --font-serif: Fraunces, serif;
  --font-sans:  Montserrat, sans-serif;
  
  /* Defining custom utility sizes/weights if needed */
  --font-size-body: 14px;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
